.grid-container {
    display: grid;
    width: 600px;
    grid-template-columns: auto;
    margin: 0 auto;
}
.grid-personal, .grid-menu {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-column-gap: 10px;
    margin: 10px;
}
.grid-menu {
    grid-template-columns: 100px 100px;
}
.delete{
    color: red;
}
.edit, .delete {
    height: 20px;
    margin: 10px;
}
#ol-list {
    display: inline-block;
}
#container {
    display: block;
}


